# Python virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
data/
